ul
  li.active
    a(href="/").button.rectangular
      i.fa.fa-user
      span Profile
  li
    a(href="/friends").button.rectangular
      i.fa.fa-users
      span Friends
  li
    a(href="/search").button.rectangular
      i.fa.fa-search
      span Search
  li
    a(href="/logout", data-bypass).button.rectangular
      i.fa.fa-sign-out
      span Logout
