div.page
  div.grid-container
    div.grid-column.col-50
      div.substrate
        h1 Inbox

        div.list-of-users.followers

    div.grid-column.col-50
      div.substrate
        h1 Outbox

        div.list-of-users.following

    div.grid-column
      div.substrate
        h1 My Friends

        div.list-of-users.friends

