doctype html
html
  head
    meta(charset="utf-8")
    title= title

    //- inject:css
    link(rel="stylesheet", href="/css/global.css")
    //- endinject


  body.ui
    block content

  if (user)
    script(type='text/javascript').
      var userId = '#{user.id}';
    //- inject:js
    script(src="/js/_vendor.js")
    script(src="/js/app.js")
    //- endinject
