ul
  li
    a(href="/"): span Vladimir Zhirinovsky

    div.control
      button.clear
        i.fa.fa-user-times

  li
    a(href="/"): span James Bond

    div.control
      button.clear
        i.fa.fa-user-plus
