extends layout

block content
  div.pattern-cell.login: div
    div.substrate
      if messages && messages.length
        div.alert.alert-danger= messages.join('. ')
      form(role='form', action="/register",method="post")
        div.textbox: input(type="text", name="name", placeholder="Name")
        
        div.textbox.icon
          i.fa.fa-user
          input(type="text", name="login", placeholder="Login")

        div.textbox.icon
          i.fa.fa-lock
          input(type="password", name="password", placeholder="Password")

        button.rectangular.green(type='submit')
          i.fa.fa-sign-in
          span Register
        &nbsp;
        a(href='/')
          button.rectangular.blue-link(type="button") Cancel
