a(href="/user/" + _id): span #{name} #{status}

if(status === 'following')
  div.control
    button.clear.unfollow(title='Unfollow')
      i.fa.fa-user-times
      span Cancel request of friendship

if(status === 'friend')
  div.control
    button.clear.unfollow(title='Unfollow')
      i.fa.fa-user-times
      span Remove from friends

if(status === 'follower')
  div.control
    button.clear.follow(title='Follow')
      i.fa.fa-user-plus
      span Add to friends

if(!status && _id != userId)
  div.control
    button.clear.follow(title='Follow')
      i.fa.fa-user-plus
      span Ask for friendship
