div.navigation
  ul
    li.active
      a(href="/").button.rectangular
        i.fa.fa-user
        span Profile
    li
      a(href="/frends").button.rectangular
        i.fa.fa-users
        span Friends
    li
      a(href="/search").button.rectangular
        i.fa.fa-search
        span Search
    li
      a(href="/logout").button.rectangular
        i.fa.fa-sign-out
        span Logout
