div.page-wrapper: div.page
    div.grid-container
      div.grid-column.col-60
        div.substrate
          h1 #{user.name}
          p Username: #{user.login}
          p Date of registration: #{user.registered}
